body {
    margin:0;
    color: rgba(255, 255, 255, 1.0);
    font-family: 'Roboto', Helvetica, Arial, serif;
    font-style: normal;
    font-weight: 500;
}

/* HEADER SECTION */

.header {
    background-color: black;
    height: 70px;
    display: flex;
}

.header-logo {
    padding: 15px;
}

.header-title {
    color: rgba(235, 233, 233, 1.0);
    font-family: 'Kreon', Helvetica, Arial, serif;
    font-size: 32px;
    line-height: 70px;
    text-align: left;
    min-width: fit-content;
}

.header-menu {
    text-align: center;
    width: 100%;
    display: flex;
}

.header-right {
    margin-left: auto;
    display: flex;
}

.menu-item {
    color: rgba(235, 233, 233, 1.0);
    font-family: 'Kreon', Helvetica, Arial, serif;
    font-size: 16px;
    line-height: 70px;
    text-align: left;
}

/* BODY SECTION */

.body {
    min-height: 100vh;
    background-color: black;
}

.kreon-bold-white-48px {
    color: rgba(255, 255, 255, 1.0);
    font-family: 'Kreon', Helvetica, Arial, serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
}

.hero {
    background-image: url(../assets/bg_spartan.jpg);
    background-size: cover;
    background-position-x: right;
    height: 95vh;
}

.hero-overlay {
    background-image: url(../assets/header@1x.png);
    background-size: cover;
    background-color: rgb(0 0 0 / 42%);
    padding-top: 15%;
    height: 100%;
}

/* BUTTONS */

.button-icon {
    height: 25px;
    margin-right: 5px;
}

.red-button {
    background-color: rgba(183, 0, 0, 1.0);
    transition: all 0.2s ease;
    border-radius: 10px;
    height: 35px;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 35px;
    padding-left: 10px;
    padding-right: 10px;
}

/* FOOTER SECTION */

.footer {
    background-color: black;
    height: 45px;
    display: flex;
    width: 100%;
}

.footer-text {
    line-height: 45px;
    font-family: 'Kreon', Helvetica, Arial, serif;
    min-width: fit-content;
}

.footer-icon {
    padding: 10px;
}

.footer-right {
    display: flex;
    margin-left: auto;
}