body {
    margin:0;
    color: rgba(255, 255, 255, 1.0);
    font-family: 'Poppins', Helvetica, Arial, serif;
    font-style: normal;
    font-weight: 500;
    background-color: #000;
}

/* HEADER SECTION */

.header {
    background-color: black;
    height: 70px;
    display: flex;
}

.header-logo {
    padding: 15px;
}

.header-title {
    color: rgba(235, 233, 233, 1.0);
    font-family: 'Kreon', Helvetica, Arial, serif;
    font-size: 32px;
    line-height: 70px;
    text-align: left;
    min-width: fit-content;
}

.header-menu {
    text-align: center;
    width: 100%;
    display: flex;
}

.header-right {
    margin-left: auto;
    display: flex;
}

.menu-item {
    width: 100px;
    justify-content: center;
}

/* BODY SECTION */

.body {
    min-height: 100vh;
    background-color: black;
}

span {
    font-family: 'Poppins', Helvetica, Arial, serif;
    font-weight: 500;
}

p {
    color: rgba(255, 255, 255, 1.0);
    font-family: 'Poppins', Helvetica, Arial, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
}

p1 {
    color: rgba(255, 255, 255, 1.0);
    font-family: 'Roboto', Helvetica, Arial, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.8rem;
}

h1 {
    color: rgba(255, 255, 255, 1.0);
    font-family: 'Kreon', Helvetica, Arial, serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
}

h2 {
    color: rgba(255, 255, 255, 1.0);
    font-family: 'Kreon', Helvetica, Arial, serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
}

h3 {
    color: rgba(255, 255, 255, 1.0);
    font-family: 'Kreon', Helvetica, Arial, serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
}

h4 {
    color: rgba(255, 255, 255, 1.0);
    font-family: 'Kreon', Helvetica, Arial, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
}

h5 {
    color: rgba(255, 255, 255, 1.0);
    font-family: 'Kreon', Helvetica, Arial, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}

.hero {
    background-image: url(../assets/bg_spartan.jpg);
    background-size: cover;
    background-position-x: right;
    height: 95vh;
}

.hero-overlay {
    background-image: url(../assets/header@1x.png);
    background-size: cover;
    height: 100%;
    display: flex;
}

.text-overlay {
    border-radius: 20px;
    margin-top: auto;
    margin-bottom: auto;
    max-width: 600px;
}

.feature-img {
    max-width: 270px;
    height: 250px;
}

.feature-block {
    max-width: 800px;
    min-height: 300px;
}

.feature-pools {
    background-image: url(../assets/Illustrations/ill_liquidity_pools@2x.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.feature-synths {
    background-image: url(../assets/Illustrations/ill_synthetic_token@2x.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.feature-cdps {
    background-image: url(../assets/Illustrations/ill_lending@2x.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.supply-block {
    max-width: 1200px;
}

.supply-reward {
    background-image: url(../assets/Pictograms/PNG/picto_reward.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 80px;
}

.supply-initial {
    background-image: url(../assets/Pictograms/PNG/picto_burn.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 80px;
}

.supply-apy {
    background-image: url(../assets/Pictograms/PNG/picto_apy.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 80px;
}

.supply-max {
    background-image: url(../assets/Pictograms/PNG/picto_supply.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 80px;
}

.project {
    background-image: url(../assets/Illustrations/ill_project@2x.png);
    background-size: contain;
    background-position-x: right;
    background-repeat: no-repeat;
    height: 95vh;
}

.project-overlay {
    height: 100%;
    display: flex;
}

/* BUTTONS */

.bg-red {
    background-color: rgba(183, 0, 0, 1.0);
    color: black;
}

.bg-yellow {
    background-color: rgba(245, 178, 22, 1.0);
    color: black;
}

.bg-grey {
    background-color:#1c1c1c;
    color: white;
}

.btn-lg {
    max-width: 180px;
}

@media (min-width: 576px) {
    .supply-btn-block {
        padding-left: 76px!important;
    }
}

/* FOOTER SECTION */

.footer {
    background-color: black;
    height: 45px;
    display: flex;
    width: 100%;
}

.footer-text {
    line-height: 45px;
    font-family: 'Kreon', Helvetica, Arial, serif;
    min-width: fit-content;
}

.footer-icon {
    padding: 5px;
    height: 30px;
    margin-top: auto;
    margin-bottom: auto;
}

.footer-right {
    display: flex;
    margin-left: auto;
}