@import "../../sass/variables.scss";

.header {
  color: #000;
  background-color: #000;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.wrapper {
  padding: 0 15px;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-content: center;
  justify-content: center;
  font-family: $fontSaira;
}

.title {
  font-weight: 400;
  font-size: 36px;
  padding: 10px 40px 10px 40px;
  color: #fff;
  text-align: center;
}

.subtitle {
  font-size: 14px;
  font-weight: 100;
  padding: 10px 40px 10px 40px;
  color: #fff;
  text-align: center;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.socials {
  margin-left: auto;
  margin-right: auto;
}

.headerSocialItem {
  display: inline-block;
}


@media (min-width: 481px) {
  
}

@media (min-width: 540px) {
}

@media (min-width: 1500px) {
}
