@import "./variables.scss";

body {
  background: $bg;
  margin: 0;
  font-family: $font;
}

a {
  text-decoration: none;
}

.underline {
  text-decoration-line: underline;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.head-vertical {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
}

.d-flex {
  display: flex;
  align-items: center;
}

.flex-center {
  justify-content: center;
}

.flex-even {
  justify-content: space-evenly;
}

.flex-spread {
  justify-content: space-between;
}

#swap, #pool, #stake, #synths, #dao {
  scroll-margin-top: 80px;
}

@media only screen and (max-width: 580px) {
  .hide-sm {
    display: none;
  }
}