@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./variables.scss";

html {
  background: #000;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: $fontNunito;
}

a {
  text-decoration: none;
}

// support for older browsers
.text-white {
  color: #fff;
}
.bg-white {
  background-color: #fff;
}
.bg-black {
  background-color: #000;
}
