// bg colours
$bg: #f5f8fc;
$bg-overlay: rgba(0, 0, 0, 0.404);
// $bg-btn: linear-gradient(90deg, #FB2715 0%, #EA3A63 52.6%, #A32D5B 100%);
$bg-btn: black;

// colours
$white: #fff;
$black: #000;

// fonts
$font: "Nunito", sans-serif;
$fontLink: "Saira Condensed", sans-serif;
$fontHeaderTitle: "Saira Condensed", sans-serif;
$fontHeaderSubtitle: "Nunito", sans-serif;
