// bg colours
$bg: #f5f8fc;
$bg-overlay: rgba(255, 255, 255, 0.103);
// $bg-btn: linear-gradient(90deg, #FB2715 0%, #EA3A63 52.6%, #A32D5B 100%);
$bg-btn: black;

// colours
$white: #fff;
$black: #000;

// fonts
$font: "Nunito", sans-serif;
$fontLink: "Saira Condensed", sans-serif;
$fontHeaderTitle: "Saira Condensed", sans-serif;
$fontHeaderSubtitle: "Nunito", sans-serif;
$fontHeadings: "Nunito", sans-serif;
$fontBody: "Saira Condensed", sans-serif;
