// bg colours
$bg: #F5F8FC;
$bg-overlay: rgba(0, 0, 0, 0.1);
$bg-btn: linear-gradient(90deg, #FB2715 0%, #EA3A63 52.6%, #A32D5B 100%);

// colours
$white: #FFF;
$black: #000;

// fonts
$font: 'Titillium Web', sans-serif;
