@import "../../sass/variables.scss";

.wrapper {
  display: grid;
  gap: 5px;
  grid-template-areas:
    "title"
    "subtitle"
    "desc"
    "buttons"
    "featimg";
  color: #fff;
  font-family: $fontHeadings;
  box-shadow: rgba(0, 0, 0, 0.397) 0 0 0 2000px inset;
  min-height: 100vh;
  background-size: cover;
  align-content: center;
}

.title {
  margin: 80px 20px 0 20px;
  grid-area: title;
  font-weight: 700;
  font-size: 32px;
}

.subtitle {
  margin: 0 20px;
  grid-area: subtitle;
  font-weight: 400;
  font-size: 26px;
}

.desc {
  margin: 5px 20px 0 20px;
  grid-area: desc;
  font-weight: 300;
  font-size: 22px;
  line-height: 28px;
  font-family: $fontBody;
  width: 310px;
  max-width: 85vw;
  letter-spacing: 0.5px;
}

.buttons {
  margin: 15px 20px 20px 20px;
  grid-area: buttons;
  display: flex;
}

.btnItem {
  display: inline-block;
  width: 48%;
}

.cta {
  background: #fb2615;
  border-radius: 5px;
  font-family: $fontLink;
  font-weight: 500;
  font-size: 19px;
  text-align: center;
  color: #fff;
  padding: 5px 0;
  width: 100%;
  margin-right: 10px;
  display: inline-block;
}

.cta-info {
  padding: 5px 0;
  font-family: $fontLink;
  background: $white;
  border-radius: 5px;
  font-weight: 500;
  font-size: 19px;
  text-align: center;
  color: $black;
  width: 100%;
  margin-left: 10px;
  display: inline-block;
}

.feat-img-block {
  margin: 20px 20px 60px 20px;
  padding: 20px 10px;
  grid-area: featimg;
  text-align: center;
  border-radius: 18px;
  background-color: #21212c;
}