@import "../../sass/variables.scss";

.wrapper {
  display: flex;
  color: #fff;
  font-family: $fontNunito;
  box-shadow: rgba(0, 0, 0, 0.658) 0 0 0 2000px inset;
  min-height: 100vh;
  background-size: cover;
  align-content: center;
}


.title {
  margin-top: 25px;
  font-weight: 700;
  font-size: 28px;
}

.subtitle {
  font-weight: 400;
  font-size: 22px;
}

.desc {
  margin-top: 5px;
  font-weight: 200;
  font-size: 16px;
  line-height: 24px;
  font-family: $fontSaira;
  max-width: 85vw;
  letter-spacing: 0.5px;
}

.buttons {
  margin-top: 15px;
  margin-bottom: 20px;
  display: flex;
}

.btnItem {
  display: inline-block;
  width: 48%;
}

@media (min-width: 481px) {
  .title {
    font-size: 40px;
  }

  .subtitle {
    font-size: 32px;
  }

  .desc {
    font-size: 23px;
    line-height: 32px;
  }
}

@media (min-width: 520px) {
}

@media (min-width: 880px) {
}
