@import "../../sass/variables.scss";

.wrapper {
  position: fixed;
  bottom: 5px;
  right: 10px;
  width: 50px;
  text-align: center;
  background-color: rgba(252, 252, 252, 0.486);
  border-radius: 100%;
  padding: 12px 5px 5px 5px;
}

.text {
  display: block;
  font-size: 12px;
  font-weight: 600;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
}
