@import "../../sass/variables.scss";

.header {
  grid-area: header;
  color: #000;
  height: 100vh;
  background-size: cover;
}

.wrapper {
  padding: 0 20px;
  height: 100%;
  display: grid;
  gap: 10px;
  grid-template-areas:
    "top"
    "bottom";
  align-content: stretch;
}

.top {
  grid-area: top;
  margin-top: 60px;
  display: grid;
  gap: 10px;
  grid-template-areas: "socials";
}

.headerSocials {
  grid-area: socials;
}

.headerSocialItem {
  display: inline-block;
  margin: 0 5px 0 0;
}

.bottom {
  grid-area: bottom;
  display: grid;
  gap: 5px;
  grid-template-areas:
    "title1     title1"
    "title2     title2"
    "tagline    tagline"
    "dappBtn    cexBtn";
  align-content: end;
  width: 180px;
  margin-bottom: 20px;
}

.title1 {
  grid-area: title1;
  font-size: 40px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 1px;
}

.title2 {
  grid-area: title2;
  font-size: 36px;
  font-weight: 600;
  line-height: 32px;
}

.tagline {
  grid-area: tagline;
  font-variant-caps: all-small-caps;
  font-size: 22px;
  font-weight: 700;
  line-height: 20px;
}

.dappBtn {
  grid-area: dappBtn;
}

.headerBtn1 {
  background: $bg-btn;
  border-radius: 4px;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.5px;
  text-shadow: none;
  color: #fff;
}

.cexBtn {
  grid-area: cexBtn;
}
