@import "../../sass/variables.scss";

.header {
  grid-area: header;
  padding: 100px 20px 20px 20px;
  background-color: black;
  color: #ffffff;
}

.wrapper {
  display: grid;
  gap: 10px;
  grid-template-areas:
    "spartan  binance"
    "protocol binance"
    "subtitle binance"
    "dapp     dapp"
    "socials  socials";
}

.headerSpartan {
  grid-area: spartan;
  width: 190px;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.1em;
}

.headerProtocol {
  grid-area: protocol;
  font-weight: bold;
  width: 190px;
  font-size: 40px;
  line-height: 48px;
}

.headerSubtitle {
  grid-area: subtitle;
  width: 267px;
  max-width: 267px;
  font-size: 26px;
  line-height: 40px;
}

.headerBinance {
  grid-area: binance;
  overflow-x: hidden;
}

.headerBtn {
  grid-area: dapp;
  max-width: 275px;
  background: linear-gradient(90deg, #fb2715 0%, #ea3a63 52.6%, #a32d5b 100%);
  border-radius: 4px;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.5px;
}

.headerSocials {
  grid-area: socials;
}

.headerSocialItem {
  display: inline-block;
  margin: 0 5px;
}

.button {
  color: white;
  background: $bg-btn;
  padding: 5px 10px;
  border-radius: 5px;
}
