@import "../../sass/variables.scss";

.navbar {
  font-family: $fontSairaCondensed;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: auto;
  background-color: $bg-overlay;
  backdrop-filter: blur(5px);
  height: 50px;
  color: #fff;
  h1 {
    margin: 0;
  }
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.205);
}

.firstSection {
  display: flex;
  margin-left: 10px;
  align-items: center;
  height: 50px;
}

@media (min-width: 410px) {
  .firstSection {
    margin-left: 20px;
  }
}

.brand {
  display: inline-block;
  margin-top: 5px;
}

.title {
  display: none;
  font-weight: 100;
  font-size: 18px;
  transform: scaleY(0.7);
  letter-spacing: 3px;
  line-height: 50px;
  margin-left: 10px;
}

@media (min-width: 370px) {
  .title {
    display: inline-block;
  }
}

.links {
  height: 50px;
  display: none;
  ul {
    height: 50px;
    margin: 0;
    li {
      margin: 0 10px;
      line-height: 50px;
      display: inline-block;
      a {
        color: #fff;
      }
    }
  }
}

@media (min-width: 700px) {
  .links {
    display: block;
  }
}

.btnSection {
  display: flex;
  align-items: center;
  height: 50px;
}

.mobileLinks {
  display: block;
  margin-right: 10px;
  margin-top: 7px;
}

@media (min-width: 700px) {
  .mobileLinks {
    display: none;
  }
}

.dappBtn {
  color: white;
  font-weight: 100;
  font-size: 14px;
  transform: scaleY(0.7);
  letter-spacing: 2px;
  padding: 3px 5px;
  border-radius: 3px;
  border-color: #fff;
  border-style: solid;
  border-width: 0.5px;
  margin-right: 10px;
}

@media (min-width: 410px) {
  .dappBtn {
    padding: 3px 10px;
    margin-right: 20px;
  }
}
