@import "../../sass/variables.scss";

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: auto;
  background-color: $bg-overlay;
  backdrop-filter: blur(5px);
  height: 70px;

  h1 {
    margin: 0;
  }
}

.brand {
  margin-top: 10px;
}

.title {
  color: white;
  margin-left: 20px;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
}

.links {
  color: white;
  li {
    margin: 0 10px;
    display: inline-block;
    a {
      color: white;
    }
  }
}

.dappBtn {
  color: white;
  background: $bg-btn;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 5px;
}

.docsBtn {
  color: white;
  background: $bg-btn;
  padding: 5px 10px;
  border-radius: 5px;
}
