@import "../../sass/variables.scss";

.navbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: auto;
  background-color: $bg-overlay;
  backdrop-filter: blur(5px);
  height: 70px;
  color: white;
  h1 {
    margin: 0;
  }
}

.firstSection {
  display: flex;
  margin-left: 20px;
  align-items: center;
  height: 70px;
}

.brand {
  display: inline-block;
  margin-top: 5px;
}

.title {
  display: none;
  font-weight: 600;
  font-size: 28px;
  line-height: 70px;
  margin-left: 10px;
}

@media (min-width: 500px) {
  .title {
    display: inline-block;
  }
}

.links {
  height: 70px;
  display: none;
  ul {
    height: 70px;
    margin: 0;
    li {
      margin: 0 10px;
      line-height: 70px;
      display: inline-block;
      a {
        color: white;
      }
    }
  }
}

@media (min-width: 700px) {
  .links {
    display: block;
  }
}

.btnSection {
  display: flex;
  align-items: center;
  height: 70px;
}

.mobileLinks {
  display: block;
  margin-right: 10px;
  margin-top: 5px;
}

@media (min-width: 700px) {
  .mobileLinks {
    display: none;
  }
}

.dappBtn {
  color: white;
  background: $bg-btn;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 20px;
}

@media (min-width: 500px) {
  .dappBtn {
    display: block;
  }
}