@import "../../sass/variables.scss";

.footer {
  grid-area: footer;
  margin-top: 30px;
  background-color: #000000;
  // background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%235f0000' fill-opacity='0.3' fill-rule='evenodd'/%3E%3C/svg%3E");
  min-height: 400px;
  color: $white;
}

.wrapper {
  margin-top: 40px;
  display: grid;
  gap: 10px;
  grid-template-areas:
    "title1 title1"
    "title2 logo"
    "title3 logo"
    "title4 logo"
    "no1    logo"
    "no2    logo"
    "no3    logo"
    "no4    no4";
  color: #fff;
}

.title1 {
  margin: 0 20px;
  font-family: Roboto;
  font-weight: 300;
  font-size: 32px;
  line-height: 36px;
  grid-area: title1;
}

.title1Strong {
  font-weight: bold;
}

.title2 {
  margin: 0 20px;
  grid-area: title2;
  font-family: Roboto;
  font-weight: 500;
  font-size: 28px;
  line-height: 32px;
}

.title3 {
  margin: 0 20px;
  grid-area: title3;
  font-family: Roboto;
  font-size: 28px;
  line-height: 32px;
  color: #ced4da;
}

.title4 {
  margin: 0 20px;
  grid-area: title4;
  font-family: Roboto;
  font-size: 28px;
  line-height: 32px;
  color: #ced4da;
}

.logo {
  grid-area: logo;
  overflow-x: hidden;
  margin-top: auto;
  margin-bottom: auto;
}

.noWeak {
  color: #6c757d;
}

.no1 {
  margin: 0 20px;
  grid-area: no1;
  font-family: Roboto;
  font-weight: bold;
  font-size: 28px;
  line-height: 32px;
}

.no2 {
  margin: 0 20px;
  grid-area: no2;
  font-family: Roboto;
  font-weight: bold;
  font-size: 28px;
  line-height: 32px;
}

.no3 {
  margin: 0 20px;
  grid-area: no3;
  font-family: Roboto;
  font-weight: bold;
  font-size: 28px;
  line-height: 32px;
}

.no4 {
  margin: 0 20px;
  grid-area: no4;
  font-family: Roboto;
  font-weight: bold;
  font-size: 28px;
  line-height: 32px;
}
