@import "../../sass/variables.scss";

.footer {
  display: grid;
  grid-area: footer;
  background-color: #21212c;
  min-height: 400px;
  color: $white;
  align-content: center;
}

.wrapper {
  margin: 40px auto 40px auto;
  display: grid;
  gap: 5px;
  grid-template-areas:
    "first"
    "second";
  color: #fff;
  max-width: 280px;
  justify-items: center;
}

.first {
  grid-area: first;
  display: grid;
  grid-template-areas:
    "maxTitle   maxTitle"
    "maxNumb    maxNumb"
    "burnTitle  burnTitle"
    "burnNumb   burnNumb"
    "circTitle  circTitle"
    "circNumb   circNumb";
}

.second {
  grid-area: second;
  display: grid;
  grid-template-areas:
    "title1     title1"
    "title2     title2"
    "title3     no1"
    "title4     no2"
    "no3        no3"
    "no4        no4";
}

.maxTitle {
  grid-area: maxTitle;
  text-align: center;
  font-family: $fontSaira;
  font-weight: 200;
  font-size: 20px;
  line-height: 24px;
}

.maxNumb {
  grid-area: maxNumb;
  text-align: center;
  font-family: $fontSaira;
  font-weight: 500;
  font-size: 36px;
  line-height: 38px;
}

.burnTitle {
  grid-area: burnTitle;
  margin-top: 20px;
  text-align: center;
  font-family: $fontSaira;
  font-weight: 200;
  font-size: 20px;
  line-height: 24px;
}

.burnNumb {
  grid-area: burnNumb;
  text-align: center;
  font-family: $fontSaira;
  font-weight: 500;
  font-size: 36px;
  line-height: 38px;
}

.circTitle {
  grid-area: circTitle;
  margin-top: 20px;
  text-align: center;
  font-family: $fontSaira;
  font-weight: 200;
  font-size: 20px;
  line-height: 24px;
}

.circNumb {
  grid-area: circNumb;
  text-align: center;
  font-family: $fontSaira;
  font-weight: 500;
  font-size: 36px;
  line-height: 38px;
}

.title1 {
  grid-area: title1;
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
  font-family: $fontSaira;
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
}

.title2 {
  grid-area: title2;
  font-family: $fontSaira;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.title3 {
  grid-area: title3;
  font-family: $fontSaira;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.title4 {
  grid-area: title4;
  font-family: $fontSaira;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.no1 {
  grid-area: no1;
  font-family: $fontSaira;
  text-align: end;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.no2 {
  grid-area: no2;
  font-family: $fontSaira;
  text-align: end;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.no3 {
  grid-area: no3;
  font-family: $fontSaira;
  text-align: end;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.no4 {
  grid-area: no4;
  font-family: $fontSaira;
  text-align: end;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

@media (min-width: 580px) {
  .wrapper {
    grid-template-areas:
      "first   second";
    max-width: 560px;
    gap: 20px;
  }

  .title1 {
    margin-top: 10px;
  }
}
