.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.w-100p {
  width: 100%;
}

.w-95p {
  width: 95%;
}

.w-90p {
  width: 90%;
}

.w-85p {
  width: 85%;
}
.w-80p {
  width: 80%;
}

.w-75p {
  width: 75%;
}

.w-70p {
  width: 70%;
}

.w-65p {
  width: 65%;
}

.w-60p {
  width: 60%;
}

.w-55p {
  width: 55%;
}

.w-50p {
  width: 50%;
}
.w-45p {
  width: 45%;
}
.w-40p {
  width: 40%;
}

.w-35p {
  width: 35%;
}

.w-30p {
  width: 30%;
}

.w-25p {
  width: 25%;
}

.w-20p {
  width: 20%;
}

.w-15p {
  width: 15%;
}

.w-10p {
  width: 10%;
}

.w-5p {
  width: 5%;
}
.w-05p {
  width: 0.5%;
}

/* Padding classes */
.p-5px {
  padding: 5px;
}
.p-10px {
  padding: 10px;
}
.p-15px {
  padding: 15px;
}
.p-20px {
  padding: 20px;
}
.p-25px {
  padding: 25px;
}

.pt-5px {
  padding-top: 5px;
}
.pt-10px {
  padding-top: 10px;
}
.pt-15px {
  padding-top: 15px;
}
.pt-20px {
  padding-top: 20px;
}
.pt-25px {
  padding-top: 25px;
}
.pt-30px {
  padding-top: 30px;
}
.pt-35px {
  padding-top: 35px;
}
.pt-30px {
  padding-top: 30px;
}
.pt-40px {
  padding-top: 40px;
}
.pt-45px {
  padding-top: 45px;
}
.pt-50px {
  padding-top: 50px;
}

.pb-5px {
  padding-bottom: 5px;
}
.pb-10px {
  padding-bottom: 10px;
}
.pb-15px {
  padding-bottom: 15px;
}
.pb-20px {
  padding-bottom: 20px;
}
.pb-25px {
  padding-bottom: 25px;
}
.pb-30px {
  padding-bottom: 30px;
}
.pb-35px {
  padding-bottom: 35px;
}
.pb-40px {
  padding-bottom: 40px;
}
.pb-45px {
  padding-bottom: 45px;
}
.pb-50px {
  padding-bottom: 50px;
}

.pt-5vh {
  padding-top: 5vh;
}
.pt-10vh {
  padding-top: 10vh;
}
.pt-15vh {
  padding-top: 15vh;
}
.pt-20vh {
  padding-top: 20vh;
}
.pt-25vh {
  padding-top: 25vh;
}
.pt-30vh {
  padding-top: 30vh;
}
.pt-35vh {
  padding-top: 35vh;
}
.pt-30vh {
  padding-top: 30vh;
}
.pt-40vh {
  padding-top: 40vh;
}
.pt-45vh {
  padding-top: 45vh;
}
.pt-50vh {
  padding-top: 50vh;
}

.pb-5vh {
  padding-bottom: 5vh;
}
.pb-10vh {
  padding-bottom: 10vh;
}
.pb-15vh {
  padding-bottom: 15vh;
}
.pb-20vh {
  padding-bottom: 20vh;
}
.pb-25vh {
  padding-bottom: 25vh;
}
.pb-30vh {
  padding-bottom: 30vh;
}
.pb-35vh {
  padding-bottom: 35vh;
}
.pb-40vh {
  padding-bottom: 40vh;
}
.pb-45vh {
  padding-bottom: 45vh;
}
.pb-50vh {
  padding-bottom: 50vh;
}
.pl-5 {
  padding-left: 5px;
}
.pl-10 {
  padding-left: 10px;
}
.pl-15 {
  padding-left: 15px;
}
.pl-20 {
  padding-left: 20px;
}
.pl-25 {
  padding-left: 25px;
}
.pl-30 {
  padding-left: 30px;
}
.pl-35 {
  padding-left: 35px;
}
.pl-30 {
  padding-left: 30px;
}
.pl-40 {
  padding-left: 40px;
}
.pl-45 {
  padding-left: 45px;
}
.pl-50 {
  padding-left: 50px;
}

.pr-5 {
  padding-right: 5px;
}
.pr-10 {
  padding-right: 10px;
}
.pr-15 {
  padding-right: 15px;
}
.pr-20 {
  padding-right: 20px;
}
.pr-25 {
  padding-right: 25px;
}
.pr-30 {
  padding-right: 30px;
}
.pr-35 {
  padding-right: 35px;
}
.pr-30 {
  padding-right: 30px;
}
.pr-40 {
  padding-right: 40px;
}
.pr-45 {
  padding-right: 45px;
}
.pr-50 {
  padding-right: 50px;
}
.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-25 {
  margin-top: 25px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-35 {
  margin-top: 35px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-45 {
  margin-top: 45px;
}
.mt-50 {
  margin-top: 50px;
}
.mb-5 {
  margin-bottom: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-25 {
  margin-bottom: 25px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-35 {
  margin-bottom: 35px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-45 {
  margin-bottom: 45px;
}
.mb-50 {
  margin-bottom: 50px;
}

.px-5px {
  padding: 0 5px 0 5px;
}
.px-10px {
  padding: 0 10px 0 10px;
}
.px-15px {
  padding: 0 15px 0 15px;
}
.px-20px {
  padding: 0 20px 0 20px;
}
.px-25px {
  padding: 0 25px 0 25px;
}
.pr-5px {
  padding-right: 5px;
}
.pr-10px {
  padding-right: 10px;
}

.py-5px {
  padding: 5px 0 5px 0;
}
.py-10px {
  padding: 10px 0 10px 0;
}
.py-15px {
  padding: 15px 0 15px 0;
}
.py-20px {
  padding: 20px 0 20px 0;
}
.py-25px {
  padding: 25px 0 25px 0;
}
.py-30px {
  padding: 30px 0 30px 0;
}
.py-40px {
  padding: 40px 0 40px 0;
}
.py-50px {
  padding: 50px 0 50px 0;
}

.py-5vh {
  padding: 5vh 0 5vh 0;
}
.py-10vh {
  padding: 10vh 0 10vh 0;
}
.py-15vh {
  padding: 15vh 0 15vh 0;
}
.py-20vh {
  padding: 20vh 0 20vh 0;
}
.py-25vh {
  padding: 25vh 0 25vh 0;
}
.py-30vh {
  padding: 30vh 0 30vh 0;
}
.py-35vh {
  padding: 35vh 0 35vh 0;
}
.py-40vh {
  padding: 40vh 0 40vh 0;
}
.py-45vh {
  padding: 45vh 0 45vh 0;
}
.py-50vh {
  padding: 50vh 0 50vh 0;
}

/* borders */
.br-all-5 {
  border-radius: 5px;
}
.br-left-5 {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.br-right-2 {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.br-right-5 {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.br-top-5 {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.br-bot-5 {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
/* margin classes */
.m-5 {
  margin: 5px;
}
.m-10 {
  margin: 10px;
}
.m-15 {
  margin: 15px;
}
.m-20 {
  margin: 20px;
}
.m-25 {
  margin: 25px;
}

.mx-5px {
  margin: 0 5px 0 5px;
}
.mx-10px {
  margin: 0 10px 0 10px;
}
.mx-15px {
  margin: 0 15px 0 15px;
}
.mx-20px {
  margin: 0 20px 0 20px;
}
.mx-25px {
  margin: 0 25px 0 25px;
}

.my-5px {
  margin: 5px 0 5px 0;
}
.my-10px {
  margin: 10px 0 10px 0;
}
.my-15px {
  margin: 15px 0 15px 0;
}
.my-20px {
  margin: 20px 0 20px 0;
}
.my-25px {
  margin: 25px 0 25px 0;
}
.my-30px {
  margin: 30px 0 30px 0;
}
.my-35px {
  margin: 35px 0 35px 0;
}
.my-40px {
  margin: 40px 0 40px 0;
}
.my-45px {
  margin: 45px 0 45px 0;
}
.my-50px {
  margin: 50px 0 50px 0;
}
/* Minimum Heights Classes */
.min-h-10v {
  min-height: 10vh;
}
.min-h-15v {
  min-height: 15vh;
}
.min-h-20v {
  min-height: 20vh;
}
.min-h-30v {
  min-height: 30vh;
}
.min-h-40v {
  min-height: 40vh;
}
.min-h-50v {
  min-height: 50vh;
}
.min-h-60v {
  min-height: 60vh;
}
.min-h-70v {
  min-height: 70vh;
}
.min-h-80v {
  min-height: 80vh;
}
.min-h-90v {
  min-height: 90vh;
}
.min-h-100v {
  min-height: 100vh;
}
/* Minimum Width classes */
.min-w-10v {
  min-width: 10vh;
}
.min-w-20v {
  min-width: 20vh;
}
.min-w-30v {
  min-width: 30vh;
}
.min-w-40v {
  min-width: 40vh;
}
.min-w-50v {
  min-width: 50vh;
}
/* Maximum Heights Classes */
.max-h-10v {
  max-height: 10vh;
}
.max-h-20v {
  max-height: 20vh;
}
.max-h-30v {
  max-height: 30vh;
}
.max-h-40v {
  max-height: 40vh;
}
.max-h-50v {
  max-height: 50vh;
}
/* Maximum Width classes */
.max-w-10v {
  max-width: 10vw;
}
.max-w-20v {
  max-width: 20vw;
}
.max-w-30v {
  max-width: 30vw;
}
.max-w-40v {
  max-width: 40vw;
}
.max-w-50v {
  max-width: 50vw;
}
.mb-5v {
  margin-bottom: 5vh;
}
.mb-10v {
  margin-bottom: 10vh;
}
.mb-15v {
  margin-bottom: 15vh;
}
.mb-20v {
  margin-bottom: 20vh;
}
.mb-25v {
  margin-bottom: 25vh;
}
.mb-30v {
  margin-bottom: 30vh;
}
.mb-35v {
  margin-bottom: 35vh;
}
.mb-30v {
  margin-bottom: 30vh;
}
.mb-40v {
  margin-bottom: 40vh;
}
.mb-45v {
  margin-bottom: 45vh;
}
.mb-50v {
  margin-bottom: 50vh;
}
.mt-5v {
  margin-top: 5vh;
}
.mt-10v {
  margin-top: 10vh;
}
.mt-15v {
  margin-top: 15vh;
}
.mt-20v {
  margin-top: 20vh;
}
.mt-25v {
  margin-top: 25vh;
}
.mt-30v {
  margin-top: 30vh;
}
.mt-35v {
  margin-top: 35vh;
}
.mt-30v {
  margin-top: 30vh;
}
.mt-40v {
  margin-top: 40vh;
}
.mt-45v {
  margin-top: 45vh;
}
.mt-50v {
  margin-top: 50vh;
}

.show-desktop {
  display: block;
}
.show-mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .show-desktop {
    display: none;
  }
  .show-mobile {
    display: block;
  }
  .no-margin-mobile {
    margin: 0;
  }
}
